:root {
    --rosewater: #f2d5cf;
    --flamingo: #eebebe;
    --pink: #f4b8e4;
    --mauve: #ca9ee6;
    --red: #e78284;
    --maroon: #ea999c;
    --peach: #ef9f76;
    --yellow: #e5c890;
    --green: #a6d189;
    --teal: #81c8be;
    --sky: #99d1db;
    --sapphire: #85c1dc;
    --blue: #8caaee;
    --lavender: #babbf1;

    --text: #c6d0f5;
    --subtext1: #b5bfe2;
    --subtext0: #a5adce;

    --overlay2: #949cbb;
    --overlay1: #838ba7;
    --overlay0: #737994;

    --surface2: #626880;
    --surface1: #51576d;
    --surface0: #414559;

    --base: #373a4b;
    --mantle: #2c313c;
    --crust: #282c34;
}

QToolTip {
    padding: 6px;
    color: var(--subtext1);
    font-size: 12px;
    background-color: var(--crust);
    border-radius: 0px;
}
* {
    font-size: 12px;
    color: var(--text);
    font-weight: 600;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
    user-select: none;
    outline: hidden;
}

.yasb-bar {
    padding: 0;
    margin: 0;
    background-color: var(--mantle);
}

.widget {
    padding: 0 12px;
    margin: 0px;
}
.icon {
    font-size: 16px;
}
.widget .label {
    padding: 0px 2px;
}
/* ======================================== Launchpad Widget ======================================== */

/* Widget style */
.launchpad-widget {
    padding: 0 2px 0 16px;
}
.launchpad-widget .label {
}
.launchpad-widget .icon {
    font-size: 16px;
    color: var(--text);
}

/* Launchpad context menu style */
.launchpad .context-menu {
    background-color: var(--crust);
    border: none;
    border-radius: 6px;
    padding: 4px 0px;
    font-family: "Segoe UI";
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
}
.launchpad .context-menu::item {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 4px;
    min-width: 100px;
}
.launchpad .context-menu::item:selected {
    background-color: #3a3a3a;
    color: #ffffff;
}
.launchpad .context-menu::item:pressed {
    background-color: #3a3a3a;
}
.launchpad .context-menu::separator {
    height: 1px;
    background-color: #404040;
    margin: 4px 8px;
}
.launchpad .context-menu::item:disabled {
    color: #666666;
    background-color: transparent;
}

.launchpad .app-dialog {
    font-family: "Segoe UI";
    background-color: var(--crust);
}
.launchpad .app-dialog .buttons-container {
    background-color: var(--mantle);
    margin-top: 16px;
    border-top: 1px solid #000;
    max-height: 80px;
    min-height: 80px;
    padding: 0 20px 0 20px;
}
.launchpad .app-dialog .message {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;
}
.launchpad .app-dialog .title-field,
.launchpad .app-dialog .path-field,
.launchpad .app-dialog .icon-field {
    background-color: var(--mantle);
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 0 6px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    margin: 10px 0px 5px 0;
    min-height: 30px;
}
.launchpad .app-dialog .title-field:focus,
.launchpad .app-dialog .path-field:focus,
.launchpad .app-dialog .icon-field:focus {
    border-bottom-color: var(--lavender);
}
.launchpad .app-dialog .button {
    background-color: var(--base);
    border: none;
    border-radius: 4px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    min-width: 80px;
    padding: 0 6px;
    margin: 10px 0 5px 6px;
    min-height: 28px;
    outline: none;
}
.launchpad .app-dialog .buttons-container .button {
    margin: 10px 0 5px 0px;
    font-size: 13px;
}
.launchpad .app-dialog .button:focus {
    border: 2px solid var(--lavender);
}
.launchpad .app-dialog .button:focus,
.launchpad .app-dialog .button:hover {
    background-color: var(--surface0);
}
.launchpad .app-dialog .button:pressed {
    background-color: var(--surface0);
}
.launchpad .app-dialog .button.add,
.launchpad .app-dialog .button.save {
    background-color: var(--blue);
}
.launchpad .app-dialog .button.add:focus,
.launchpad .app-dialog .button.save:focus,
.launchpad .app-dialog .button.add:hover,
.launchpad .app-dialog .button.save:hover {
    background-color: var(--blue);
}
.launchpad .app-dialog .button.add:pressed,
.launchpad .app-dialog .button.save:pressed {
    background-color: var(--overlay0);
}
.launchpad .app-dialog .button.delete {
    border: none;
    background-color: var(--red);
}
.launchpad .app-dialog .button.delete:focus,
.launchpad .app-dialog .button.delete:hover {
    background-color: var(--red);
}
.launchpad .app-dialog .button.delete:pressed {
    background-color: var(--mantle);
}
.launchpad .app-dialog .warning-message {
    background-color: #2b0b0e;
    border: 1px solid #5a303c;
    border-radius: 4px;
    color: #cc9b9f;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 4px 0px;
}

/* Launchpad popup style */
.launchpad .drop-overlay {
    background-color: rgba(24, 25, 27, 0.8);
    border: 4px dashed #3c80ff;
}
.launchpad .drop-overlay .text {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
}

.launchpad .launchpad-container {
    background-color: var(--mantle);
}
.launchpad .search-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: var(--crust);
    min-height: 80px;
    margin: 0;
    padding: 0;
}
.launchpad .search-input {
    max-width: 400px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    font-family: "Segoe UI";
    border-radius: 20px;
    border: 2px solid var(--surface2);
    background-color: var(--mantle);
    color: #a6adc8;
}
.launchpad .search-input:focus {
    border: 2px solid var(--lavender);
    background-color: rgba(255, 255, 255, 0.05);
}
.launchpad .launchpad-scroll-area {
    background-color: transparent;
    border: none;
}
.launchpad .app-icon {
    border-radius: 12px;
    padding: 12px 5px;
    margin: 24px 6px 6px 6px;
    max-width: 100px;
    min-width: 100px;
}
.launchpad .app-icon:focus {
    border: 1px solid var(--lavender);
    background-color: rgba(255, 255, 255, 0.05);
}
.launchpad .app-icon:hover {
    border: 1px solid var(--lavender);
    background-color: rgba(255, 255, 255, 0.05);
}
.launchpad .app-icon .title {
    color: var(--text);
    font-family: "Segoe UI";
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
}
/* App icon .launchpad .app-icon or URL icon .launchpad .app-icon.url */
.launchpad .app-icon.url .title {
    color: #52f1d2;
}
.launchpad .app-icon .icon {
    padding: 0;
    margin: 0;
}

/* ======================================== Home Widget ======================================== */
.home-widget {
    padding: 1px 6px 0 12px;
}
.home-widget .icon {
    color: var(--lavender);
    font-size: 17px;
    margin-bottom: 1px;
}
.home-menu {
    background-color: var(--mantle);
    border-radius: 8px;
}
.home-menu .menu-item {
    padding: 8px 48px 9px 16px;
    font-size: 12px;
    font-family: "Segoe UI";
    color: var(--text);
    font-weight: 600;
}
.home-menu .menu-item:hover {
    background-color: var(--base);
}
.home-menu .separator {
    max-height: 1px;
    background-color: var(--base);
}

/* ======================================== GlazeWM Widget ======================================== */

.glazewm-workspaces {
    margin: 0;
    padding: 0 4px;
}

.glazewm-workspaces .ws-btn {
    font-size: 14px;
    background-color: transparent;
    color: var(--lavender);
    border: none;
    border-radius: 2px;
    padding: 1px 5px 0 5px;
    margin: 0 2px;
}

.glazewm-workspaces .ws-btn.active_empty,
.glazewm-workspaces .ws-btn.active_populated {
    color: var(--subtext1);
    background-color: var(--surface1);
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
    background-color: var(--surface0);
}

/* ======================================== ActiveWindow Widget ======================================== */

.active-window-widget {
    padding: 0 4px;
}

/* ======================================== Clock Widget ======================================== */

.clock-widget {
    padding: 1px 6px 0 6px;
}

.clock-widget .widget-container .label {
    font-family: "JetBrainsMono NFP";
    color: var(--text);
    font-weight: 500;
}

.calendar {
    background-color: var(--mantle);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: transparent;
    color: var(--text);
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.calendar .calendar-table::item:selected {
    background: var(--lavender);
    color: var(--surface0);
    border-radius: 5px;
}

.calendar .day-label {
    margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 16px;
    color: var(--text);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}

.calendar .month-label {
    font-weight: normal;
}

.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    margin-top: -20px;
}

/* ======================================== Apps Widget ======================================== */

.apps-widget .widget-container {
    background-color: var(--surface1);
    margin: 3px 0 3px 0;
    border-radius: 12px;
}

.apps-widget {
    padding: 0 4px 0 2px;
}

.apps-widget .label {
    font-size: 14px;
    padding: 0 2px;
    color: var(--subtext0);
}
.apps-widget .label:hover {
    color: var(--text);
}

/* ======================================== Media Widget ======================================== */

.media-widget {
    padding: 0 6px;
    margin: 0;
    border-radius: 0;
}
.media-widget .label {
    color: var(--text);
    padding: 0px;
    padding-right: 4px;
    font-size: 12px;
}
.media-widget .btn {
    padding: 0 4px;
    margin: 0;
    font-family: "JetBrainsMono NFP";
    font-weight: 400;
    font-size: 20px;
}
.media-widget .btn.play {
    font-size: 18px;
    color: var(--text);
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: var(--subtext0);
    font-size: 20px;
}

/* ======================================== Todo Widget ======================================== */

.todo-widget {
    padding: 0 6px;
}
.todo-widget .icon {
    color: var(--maroon);
    font-size: 16px;
    margin-bottom: 1px;
}
.todo-widget .label {
    font-size: 13px;
    padding: 0;
}

.todo-menu {
    background-color: var(--crust);
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
}
.todo-menu .header {
    margin: 16px 10px;
}
.todo-menu .header .add-task-button,
.todo-menu .header .tab-buttons {
    border: none;
    border-radius: 13px;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    font-family: "Segoe UI", "JetBrainsMono NFP";
}
.todo-menu .header .tab-buttons {
    margin: 0;
    font-size: 12px;
}
.todo-menu .header .add-task-button:hover {
    background-color: var(--blue);
}
.todo-menu .header .tab-buttons.in-progress,
.todo-menu .header .tab-buttons.completed {
    background-color: transparent;
}
.todo-menu .header .tab-buttons.in-progress:checked {
    color: #7fffd4;
}
.todo-menu .header .tab-buttons.completed:checked {
    color: #ff583b;
}
.todo-menu .header .tab-buttons.sort {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    padding: 0;
    margin: 0 8px 0 0;
    font-family: "JetBrainsMono NFP";
}
.todo-menu .header .tab-buttons.sort:pressed {
    background-color: rgba(255, 255, 255, 0.2);
}
.todo-menu .no-tasks {
    font-family: "Segoe UI";
    font-size: 18px;
    color: #979fa0;
    font-weight: 400;
    margin-top: 16px;
}
.todo-menu .no-tasks-icon {
    font-size: 80px;
    color: #979fa0;
    font-family: "JetBrainsMono NFP";
    margin-top: 64px;
    font-weight: 400;
}

.todo-menu .task-item {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0px 12px 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 0;
}
.todo-menu .task-item.expanded {
    background-color: rgba(211, 214, 219, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.todo-menu .task-item.drop-highlight,
.todo-menu .task-item.drop-highlight:hover,
.todo-menu .task-item.drop-highlight:focus {
    background-color: rgba(0, 120, 212, 0.26);
    border: 1px solid #007acc;
}

.todo-menu .task-item .title {
    color: #ebebeb;
    font-size: 13px;
    font-weight: 600;
    font-family: "Segoe UI";
    padding: 0 8px 8px 8px;
    margin-top: 6px;
}
.todo-menu .task-item.completed .title,
.todo-menu .task-item.completed .description {
    text-decoration: line-through;
    color: #7f8c8d;
}
.todo-menu .task-item .description {
    color: #bdc3c7;
    font-size: 12px;
    font-weight: 600;
    padding: 0 8px 8px 8px;
    font-family: "Segoe UI";
}
.todo-menu .task-checkbox {
    background-color: transparent;
    border: none;
    margin-left: 12px;
    margin-top: 5px;
    font-size: 18px;
    color: #ebebeb;
    font-family: "JetBrainsMono NFP";
}
.todo-menu .task-checkbox:checked {
    color: #7f8c8d;
}

.todo-menu .task-info-row {
    margin-left: 8px;
    margin-bottom: 8px;
}
.todo-menu .task-info-row .date-text,
.todo-menu .task-info-row .category-text {
    font-family: "Segoe UI";
    font-weight: 600;
    color: #7e7f88;
    font-size: 13px;
    padding-left: 0px;
    margin-right: 10px;
}
.todo-menu .task-info-row .date-icon,
.todo-menu .task-info-row .category-icon {
    font-weight: 400;
    color: #a7a8b3;
    font-size: 14px;
    font-family: "JetBrainsMono NFP";
    margin-top: 1px;
}
.todo-menu .task-info-row .category-text.important,
.todo-menu .task-info-row .category-icon.important {
    color: #ff2600;
}
.todo-menu .task-info-row .category-text.urgent,
.todo-menu .task-info-row .category-icon.urgent {
    color: #ff583b;
}
.todo-menu .task-info-row .category-text.soon,
.todo-menu .task-info-row .category-icon.soon {
    color: #7fffd4;
}
.todo-menu .task-info-row .category-text.today,
.todo-menu .task-info-row .category-icon.today {
    color: #f9e2af;
}
.todo-menu .task-info-row .delete-task-button {
    background-color: var(--red);
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    border-radius: 10px;
    padding: 2px 8px;
    margin: 0 10px;
}
.todo-menu .task-info-row .edit-task-button {
    background-color: var(--yellow);
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    border-radius: 10px;
    padding: 2px 8px;
}

/* App dialog style */
.todo-menu .app-dialog {
    font-family: "Segoe UI";
    background-color: #202020;
}
.todo-menu .app-dialog .buttons-container {
    background-color: #171717;
    margin-top: 16px;
    border-top: 1px solid #000;
    max-height: 80px;
    min-height: 80px;
    padding: 0 20px 0 20px;
}

.todo-menu .app-dialog .title-field,
.todo-menu .app-dialog .desc-field {
    background-color: #181818;
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 0 6px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    margin: 10px 0px 5px 0;
    min-height: 30px;
}
.todo-menu .app-dialog .desc-field {
    max-height: 60px;
}
.todo-menu .app-dialog .title-field:focus,
.todo-menu .app-dialog .desc-field:focus {
    border-bottom-color: #4cc2ff;
}
.todo-menu .app-dialog .button {
    background-color: #2d2d2d;
    border: none;
    border-radius: 4px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    min-width: 80px;
    padding: 0 6px;
    margin: 10px 0 5px 6px;
    min-height: 28px;
    outline: none;
}
.todo-menu .app-dialog .buttons-container .button {
    margin: 10px 0 5px 0px;
    font-size: 13px;
}
.todo-menu .app-dialog .button:focus {
    border: 2px solid #adadad;
}
.todo-menu .app-dialog .button:focus,
.todo-menu .app-dialog .button:hover {
    background-color: #4a4a4a;
}
.todo-menu .app-dialog .button:pressed {
    background-color: #3a3a3a;
}
.todo-menu .app-dialog .button.add {
    background-color: #0078d4;
}
.todo-menu .app-dialog .button.add:focus,
.todo-menu .app-dialog .button.add:hover {
    background-color: #0066b2;
}
.todo-menu .app-dialog .button.add:pressed {
    background-color: #00509e;
}
.todo-menu .app-dialog .warning-message {
    background-color: #2b0b0e;
    border: 1px solid #5a303c;
    border-radius: 4px;
    color: #cc9b9f;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 4px 0px;
}
.todo-menu .app-dialog .category-button {
    background-color: #2d2d2d;
    border: none;
    border-radius: 4px;
    font-family: "Segoe UI";
    font-size: 11px;
    font-weight: 700;
    color: #afafaf;
    padding: 0 6px;
    margin-top: 8px;
    min-height: 24px;
    outline: none;
}
.todo-menu .app-dialog .category-button:checked {
    background-color: #535353;
    color: #ffffff;
}

/* ======================================== Microphone Widget ======================================== */

.microphone-widget {
    padding: 0 6px;
}
.microphone-widget .icon {
    font-size: 18px;
    color: var(--mauve);
    margin: 0px 2px 0 0;
}

/* ======================================== Volume Widget ======================================== */

.volume-widget {
    padding: 0 5px;
}
.volume-widget .icon {
    font-size: 15px;
    color: var(--lavender);
    margin: 0px 2px 1px 0;
}

/* ======================================== Wifi Widget ======================================== */

.wifi-widget {
    padding: 0 5px;
}

.wifi-widget .widget-container .icon {
    font-size: 15px;
    color: var(--rosewater);
    margin: 0px 3px 1px 0;
}

.wifi-menu {
    font-family: "Segoe UI";
    background-color: var(--mantle);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;
    color: var(--text);
    border: 1px solid var(--surface1);
    border-radius: 8px;
}

.wifi-menu .progress-bar {
    max-height: 2px;
}
.wifi-menu .progress-bar::chunk {
    background-color: var(--sky);
}

.wifi-menu .header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: var(--mantle);
    color: var(--text);
    border-bottom: 1px solid var(--surface1);
}

.wifi-menu .error-message {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: var(--red);
    color: var(--crust);
    border-bottom: 1px solid var(--surface1);
}

.wifi-menu .wifi-list {
    background-color: var(--crust);
    margin-right: 3px;
    border-radius: 6px;
}

.wifi-menu .wifi-item {
    min-height: 35px;
    padding: 2px 12px;
    margin: 2px 4px;
    color: var(--subtext1);
    transition: background-color 0.2s ease;
}

.wifi-menu .wifi-item:hover {
    background-color: var(--surface0);
    border-radius: 6px;
    color: var(--text);
}

.wifi-menu .wifi-item[active="true"] {
    background-color: var(--surface0);
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
    color: var(--text);
}

.wifi-menu .wifi-item .icon {
    font-family: "JetBrainsMono NFP";
    font-size: 26px;
    margin-right: 10px;
    color: var(--blue);
}

.wifi-menu .wifi-item .name {
    font-size: 14px;
    margin-right: 10px;
    color: var(--text);
}

.wifi-menu .wifi-item .password {
    background-color: transparent;
    font-size: 14px;
    color: var(--overlay1);
}

.wifi-menu .wifi-item .status,
.wifi-menu .wifi-item .strength {
    font-size: 14px;
    color: var(--subtext0);
}

.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
    background-color: var(--surface0);
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: var(--text);
    transition: background-color 0.2s ease;
}

.wifi-menu .wifi-item .connect:hover {
    background-color: var(--surface1);
}
.wifi-menu .wifi-item .connect:pressed {
    background-color: var(--overlay0);
}

.wifi-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: var(--overlay1);
    background-color: var(--mantle);
    border-top: 1px solid var(--surface1);
}

.wifi-menu .footer .settings-button,
.wifi-menu .footer .refresh-icon {
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: var(--subtext1);
    transition: background-color 0.2s ease;
    font-family: "Segoe Fluent Icons";
}

.wifi-menu .footer .refresh-icon:hover {
    background-color: var(--surface0);
    border-radius: 4px;
    color: var(--text);
}

/* ======================================== Battery Widget ======================================== */

.battery-widget {
    padding: 0 6px;
}

.battery-widget .widget-container .icon {
    margin: 0px 2px 1px 0;
    font-size: 16px;
    background: transparent;
}

.battery-widget .widget-container .icon.status-low {
    color: var(--red);
}

.battery-widget .widget-container .icon.status-medium {
    color: var(--yellow);
}

.battery-widget .widget-container .icon.status-high {
    color: var(--green);
}

.battery-widget .widget-container .icon.status-full {
    color: var(--green);
}

.battery-widget .widget-container .icon.status-charging {
    margin-top: 0px;
    font-size: 14px;
    color: var(--teal);
    background: transparent;
}

/* ======================================== Notification Widget ======================================== */

.notification-widget {
    padding: 0 4px;
}
.notification-widget .icon {
    font-size: 13.5px;
    margin: 0px 1px 0 0;
}
.notification-widget .icon.new-notification {
    color: var(--blue);
}

/* ======================================== PowerMenu Widget ======================================== */
.power-menu-widget {
    padding: 0 12px 0 4px;
}

.power-menu-widget .label {
    color: var(--red);
    font-size: 14px;
    margin-bottom: 1px;
}
.power-menu-popup {
    background-color: transparent;
}
.power-menu-popup .button {
    padding: 0;
    width: 220px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--mantle);
    color: var(--text);
    border-left: 4px solid rgba(58, 59, 83, 0);
    border-right: 4px solid rgba(58, 59, 83, 0);
    border-top: 4px solid rgba(58, 59, 83, 0);
    border-bottom: 4px solid rgba(58, 59, 83, 0);
    margin: 0px;
}
.power-menu-popup .button.hover {
    background-color: var(--base);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--overlay2);
}
.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--surface2);
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
    color: var(--red);
    margin: 0;
}
.power-menu-popup .button.cancel {
    height: 50px;
    border-radius: 10px;
}
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--surface2);
    font-weight: 600;
}
